@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Link to my project: <a href="https://github.com/PufusIE/RetailApp">GitHub</a>, <a href="https://dev.azure.com/mechenkoyaroslav/RetailApplication">Azure</a>.</p>
</div>
